Since we have no menu structure this is what we have to use for now

<p><%= link_to("Add Page template", new_page_template_path()) %></p>
<p><%= link_to("Register as Teacher", new_teacher_path()) %></p>