%script{:type => "text/x-handlebars"}
  .profile-content
    .banner-container
      %a.channel-link{:href => "#"}
        .profile-photo
          .goto Go to Channel
          %img{:alt => "stwitch007", "data-bindattr-835" => "835", :src => "http://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png"}
        .live-status Offline
      .profile-info
        %h3.profile-name
          = current_user.email
        %p.profile-bio
          - if current_user.profile
            " "
          - else
            %em This uer has no bio.
          = link_to "#", class: "profile-edit-link" do  
            %svg.svg-edit{:height => "16px", :version => "1.1", :viewBox => "0 0 16 16", :width => "16px", :x => "0px", :y => "0px"}
              %path{"clip-rule" => "evenodd", :d => "M6.414,12.414L3.586,9.586l8-8l2.828,2.828L6.414,12.414z M4.829,14H2l0,0v-2.828l0.586-0.586l2.828,2.828L4.829,14z", "fill-rule" => "evenodd"}
            Edit
    .profile-details
      .profile-nav
        %ul.nav-list
          %li.is-active.list-item.nav-item
            %a.nav-item-link.list-item-link{:href => "/account"} Dashboard
          %li.nav-item.list-item
            %a.nav-item-link.list-item-link{:href => "/account/transactions"} History
          %li.nav-item.list-item
            %a.nav-item-link.list-item-link{:href => "/account/prizes"} Rewards