<script type="text/x-handlebars" data-template-name="components/editable-div">
  {{yield}}
</script>

<script type="text/x-handlebars" data-template-name="components/editable-header">
  {{yield}}
</script>

<script type="text/x-handlebars" data-template-name="components/ck-textarea">
  {{yield}}
</script>


<script type="text/x-handlebars" data-template-name="modal">
  {{#modal-dialog action="close"}}
     <div class="modal-header">
      <button type="button" class="close" {{action "close"}}><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{content}}</p>
      </div>
  {{/modal-dialog}}
</script>


<script type="text/x-handlebars" data-template-name="edit-thumb">
  {{#modal-dialog action="close" confirmBotton="Crop"}}
      <div class="modal-body edit-thumb">
        {{content}}
      </div>
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="components/modal-dialog">
  <div class="overlay" {{action "close"}}> </div>
  <div class="modal-dialog">
    <div class="modal-content">
      {{yield}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" {{action "close"}}>Close</button>
        <button type="button" class="btn btn-theme-dark">{{confirmBotton}}</button>
      </div>
    </div>
  </div>
</script>


<script type="text/x-handlebars" data-template-name="_loader">
  <div class="wrap">
    <div class="loading">
      <span class="title">loading</span>
      <span class="text">Ah.....</span>
    </div>
  </div>
</script>

<!-- Test -->
<script type="text/x-handlebars" data-template-name="course-module">
  <div class=""> 
    {{yield}}
  </div>
</script>
