- flash.each do |k, v|
  - next if v == true
  .alert.primary-alert{"data-alert" => "", class: "alert-#{bs_alert_helper(k)}"}
    = v
    %button.primary-close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
      %span.sr-only Close