<% flash.each do |k, v| %>
  <% Rails.logger.warn "#{flash}" %>
  <div class="alert-success alert alert-dismissible">
    <%= v %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
<% end %>
