<div id="template-wrapper">

  {{#editable-header id="editable-header1" tagName="h1"}}
    Inline Editing in Action!
  {{/editable-header}}

  {{#editable-div id="editable-div1" }}
    <p>The "div" element that contains this text is now editable.</p>
  {{/editable-div}}
</div>