<div class="course-settings section clearfix">
  <div class="part section clearfix mtl">
    <div class="col-lg-9" style="border-left: 1px solid #dedede; margin-left: 24.9%">

      <div id="daterange" class='option'>
        <i class="fa fa-calendar"></i> <b>Duration:</b> {{start_date}} - {{end_date}}
        <span class="caret"></span>       
      </div>
      
      <div class='option dropdown'>
        <div data-toggle="dropdown">
          <i class="fa fa-users"></i> <b>Student Limit:</b> {{maxStudent}}
          <span class="caret"></span>
        </div>
        {{view 'dropdown-menu' content=names  optionValuePath="content.id" optionLabelPath="content.firstName"}}
      </div>
    </div>
  </div>

  <div class="part section clearfix">
    <div class="col-lg-3" style="border-right: 1px solid #dedede;">
      <div class="course-thumb">
        <%= image_tag("image_placeholder.png") %>
        <label class="upload-hover">
          <div class="vertical-center">
            <div>        
              {{view "thumb" name="course[thumbnail]"}}
              <i class="fa fa-cloud-upload fa-4x"></i>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="course-description vertical-center">
        <div  {{action 'edit'}}>
          <div id="editor">
            Click to add course description
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="part clearfix mbl">
    <div class="col-lg-9" style="border-left: 1px solid #dedede; margin-left: 24.9%">
      <div class='option dropdown'>
        <div data-toggle="dropdown">
          <i class="fa fa-users"></i> <b>Price:</b> $2999/Month
          <span class="caret"></span>
        </div>
        {{view 'dropdown-menu' content=names  optionValuePath="content.id" optionLabelPath="content.firstName"}}
      </div> 
      <div class='option dropdown'>
        <div data-toggle="dropdown">
          <i class="fa fa-users"></i> <b>Discount:</b> 10%
          <span class="caret"></span>
        </div>
        {{view 'dropdown-menu' content=names  optionValuePath="content.id" optionLabelPath="content.firstName"}}
      </div>
    </div>
  </div>
</div>
<div class="course-settings section clearfix">
  
</div>