<div id="courses">

  <div class="col-lg-4 panel-left">
    <div class="course-header">
      My Courses
    </div>
    {{new-course url="<%= url_for(controller: 'courses', action: 'create') %>"}}
    <div class="course-list">
      <% if @courses.any? %>
        <%= render @courses  %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-8 panel-right">
    
  </div>
</div>


