<!-- Load image preview just for this page -->
<% content_for :head do %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <%= stylesheet_link_tag    "jquery.Jcrop.min", media: "all" %>
<% end %>

<div id="course">
  <div class="panel-left">
    <%= render 'course_form', edit: false %>
  </div>
  <div class='panel-right'></div>
</div>