<div class="navbar navbar-default">
  <div class="container">
    {{#link-to "index" class="navbar-brand"}}<img src="" alt="">{{/link-to}}
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to "index" }}Home{{/link-to}}</li>
      <li>{{#link-to "about" }}About{{/link-to}}</li>
      {{#if controllers.currentUser.isSignedIn}}
      <li class="dropdown">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" >{{controllers.currentUser.email}} <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li>{{#link-to "index" }}Home{{/link-to}}</li>
          <li>{{#link-to "about" }}About{{/link-to}}</li>
          <li {{action 'logOut' target="controllers.session"}}>Log Out</li>
        </ul>
        
      </li>
      {{else}}
      <li>{{#link-to "user"}}Create an Account{{/link-to}}</li>
      <li>{{#link-to "session"}}Log In{{/link-to}}</li>
      {{/if}}

    </ul>
  </div>
</div>

<div class="container">

  {{outlet}}
</div>

<footer class="container">
  
</footer>


