/* Courses Style */

#courses {
  height: 100%;
}

#courses .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

#courses .dropdown-menu > li {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}

#courses .dropdown-menu >li.active {
  background-color: #5285B8;
  border-color: #5285B8;
}

#courses .dropdown-menu > li:focus,
#courses .dropdown-menu > li:hover {
  color: #262626;
  background-color: #F5F5F5;
}

#courses .dropdown-menu > li.active:hover,
#courses .dropdown-menu > li.active:focus {
  cursor: no-drop;
  background-color: #5285B8;
  border-color: #5285B8;
}

.course-header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  padding: 20px 10px 20px 30px;
}

.new-course, .course-item {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  list-style: outside none none;
  color: #f47618;
  line-height: 31px;
  cursor: pointer;
  padding: 10px 10px 10px 30px;
}

.course-item .course-buttons a > i {
  color: #f47618;
}

.new-course input {
  line-height: normal;
  padding: 5px;
  width: 100%;
}

.course-item:nth-child(odd) {
  background-color: #fbfbfb;
}

.new-course:hover, .course-item:hover {
  background-color: #b9e5ff;
}

.course-item .course-title {
  margin-left: 25px;
  color: #000;
}

.course-item .course-thumbnail img {
  height: 50px;
  float: left;
}

.course-list .course-item.active {
  background-color: #b9e5ff;
}

.course-item .course-buttons {
  margin-right: 20px;
}

/* New Course */

#courses .col-lg-8 {
  padding: 0;
}

.course-details-wrapper {
  position: relative;
  height: 100%;
}

.course-details-wrapper .course-top {
  height: 125px;
}

.course-details-wrapper .course-content {
  height: calc(100% - 125px);
}

.course-details-wrapper .section {
  border-bottom: 1px solid #dedede;
}

.ccourse-details-wrapper .section:hover {
  cursor: pointer;
}

.course-details-wrapper .header {
  line-height: 49px;
  font-size: 20px;
  font-weight: bold;
}

.header .course-status {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #dedede;
  margin-right: 20px;
  padding: 10px 20px;
}

.header .course-status:hover {
  cursor: pointer;
}

.header .course-status.draft {
  background-color: #dedede;
}

.header .course-status.Published {
  background-color: #94F997;
  border-color: #94F997;
}

.header .title {
  display:  inline-block;
}

.course-details-wrapper .nav .btn {
  border: none;
  font-size: 15px;
  line-height: 38px;
}

.course-details-wrapper .nav .btn:hover {
  background-color: #ededed; 
}

.course-details-wrapper .nav .center-block {
  width: 90%;
}

.course-details-wrapper .nav .btn.active {
  border-bottom: 1px solid #f47618;
  box-shadow: none;
  background: none;
}

.course-details-wrapper .nav svg {
  float: left;
  margin-right: 10px;
  fill: #f47618;
  width: 35px;
}

.course-top i, 
.course-settings i,
.course-timeline .timeline-nav i {
  color: #f47618;
}

/* Settings */

.course-settings .option i {
  font-size: 17px;
  margin-right: 5px;
}

.course-settings i.fa-plus {
  color: #D6D6D6;
  vertical-align: middle;
  margin: 0 5px;
}
.course-settings .course-thumb {
  position: relative;
  width: 200px;
  margin: 20px 0;
  float: right;
}

.course-settings .course-thumb label {
  display: inherit;
  margin-bottom: 0;
}

.course-settings .upload-hover {
  position: absolute;
  line-height: 1.5em;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  background: none repeat scroll 0% 0% rgba(33, 27, 25, 0.75);
  opacity: 0;
  padding-top: 10px;
  box-shadow: none;
  text-align: center;
  transition: all 0.15s ease 0s;
  z-index: 1;
}

.course-settings .upload-hover:hover {
  opacity: 1;
  padding-top: 0px;
  cursor: pointer;
}

.course-settings .course-description {
  font-size: 16px;
  color: #A5A5A5;
  height: 360px;
}

.course-settings .course-description .cke_chrome {
  border: none;
  box-shadow: none;
}

.course-settings .part{
  width: 90%;
  margin: auto;
  font-size: 14px;
}

.part .col-lg-12, .part .col-lg-9{
  padding-left: 0;
  padding-right: 0;
}

.part .option {
  display: inline-block;
  padding: 10px 15px;
  border-left: 1px solid #dedede; 
}

.part .option:first-child {
  width: 247px !important;
  border-left: none;
}

.course-thumb input[type='file'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.course-prerequisites {
  padding: 10px;
  font-size: 15px;
}

/* Course Timeline */

  .timeline-nav{
    background-color: #232930;
  }

  .timeline-nav .btn {
    font-size: 15px;
    padding: 12px 24px;
    border-left: 1px solid #364049;
  }

  .timeline-nav .btn:hover {
    background-color: #101014;
    color: #FFF;
  }

  .timeline-nav .btn-add:first-child {
    border-left: none;
  }


  .timeline-nav .btn-add {
    color: #8C8C9C;
  }

  .timeline-nav .btn-save, 
  .timeline-nav .btn-redo {
    color: #FFF;
  }

  /* Section list */

  .section-list {
    list-style: none;
    padding: 20px 0;
    margin-top: 15px;
    position: relative;
  }

  /* Timeline Line */
  .section-list li:before {
    top: -20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #B9E5FF;
    left: 4%;
    margin-left: -1.5px;
  }

  .section-list li:first-child:before {
    top: -22px;
  }

  .section-list li:last-child:before {
    bottom: -16px;
  }

  .section-list > li {
    margin-bottom: 20px;
    position: relative;
  }

  .section-list > li > .media-panel {
    position: relative;
    width: 89%;
    left: 9%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }

  .section-list > li > .media-panel:before {
    position: absolute;
    top: 26px;
    left: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 0 solid #ccc;
    border-right: 15px solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }

  .section-list > li > .media-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 0 solid #fff;
    border-right: 14px solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }

  .section-list > li > .media-badge {
    position: absolute;
    top: 16px;
    left: 4%;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border: 3px solid #B9E5FF;
    border-radius: 50%;
  }


  .media-badge.primary {
      background-color: #2e6da4 !important;
  }

  .media-badge.success {
      background-color: #3f903f !important;
  }

  .media-badge.warning {
      background-color: #f0ad4e !important;
  }

  .media-badge.danger {
      background-color: #d9534f !important;
  }

  .media-badge.info {
      background-color: #5bc0de !important;
  }

  .media-title {
    margin-top: 0;
    color: inherit;
  }

  .media-body > p,
  .media-body > ul {
     margin-bottom: 0;
  }

  .media-body > p + p {
    margin-top: 5px;
  }

  @media (max-width: 767px) {
    ul.section-list:before {
      left: 40px;
    }

    ul.section-list > li > .media-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
    }

    ul.section-list > li > .media-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
  }

/* Draggable */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: pointer;
}

.module-box  {
  width: 100px;
  height: 60px;
  background: linear-gradient(#444, #111);
  position: relative;
  user-select: none;
  border: 1px solid white;
  margin: 0 0 0.75rem 0;
  box-shadow: 0 0 5px rgba(black, 0.5);
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 0.5rem;
  z-index: 5;
  &:before {
    position: absolute;
    bottom: 0;
    right: 100%;
    counter-increment: module-boxs;
    content: counter(module-boxs);
    padding-right: 0.35rem;
    color: #999;
    line-height: normal;
    font-size: 1rem;
  }
}

.drop-box {
  margin: 20px;
}

.dropzone li {
  list-style: none;
}

.dropzone .placeholder, .dropzone .placeholder2 {
  width: 100px;
  height: 60px;
  background: linear-gradient(#444, #111);
  position: relative;
  user-select: none;
  border: 1px solid white;
  margin: 0 0 0.75rem 0;
  box-shadow: 0 0 5px rgba(black, 0.5);
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 15px;
  z-index: 1;
}

.course-structure .dropzone li.is-moving {
  opacity: 0.3;
  transform: scale(1.8);
  transition: opacity 1s ease-in-out 0s;
}

.course-structure .dropzone li.is-moving::before{
  display: none;
}

.course-structure .dropzone li:first-child::before {
  display: none;
}




