/* Courses Style */

#courses {
  height: 100%;
}
#courses .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

#courses .dropdown-menu > li {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}

#courses .dropdown-menu >li.active {
  background-color: #5285B8;
  border-color: #5285B8;
}

#courses .dropdown-menu > li:focus,
#courses .dropdown-menu > li:hover {
  color: #262626;
  background-color: #F5F5F5;
}

#courses .dropdown-menu > li.active:hover,
#courses .dropdown-menu > li.active:focus {
  cursor: no-drop;
  background-color: #5285B8;
  border-color: #5285B8;
}

.course-header {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  padding: 20px 10px 20px 30px;
}

.new-course, .course-item {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
  list-style: outside none none;
  color: #f47618;
  line-height: 31px;
  cursor: pointer;
  padding: 10px 10px 10px 30px;
}

.course-item .course-buttons a > i {
  color: #f47618;
}

.new-course input {
  line-height: normal;
  padding: 5px;
  width: 100%;
}

.course-item:nth-child(odd) {
  background-color: #fbfbfb;
}

.new-course:hover, .course-item:hover {
  background-color: #b9e5ff;
}

.course-item .course-title {
  margin-left: 25px;
  color: #000;
}

.course-item .course-thumbnail img {
  height: 50px;
  float: left;
}

.course-list .course-item.active {
  background-color: #b9e5ff;
}

.course-item .course-buttons {
  margin-right: 20px;
}
/* New Course */

.course-details .section {
  border-bottom: 1px solid #dedede;
}

.course-details .section:hover {
  cursor: pointer;
}

.course-details.col-lg-8 {
  padding: 0;
}

.course-details .header {
  line-height: 49px;
  font-size: 20px;
  font-weight: bold;
}

.header .course-status {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #dedede;
  margin-right: 20px;
  padding: 10px 20px;
}

.header .course-status:hover {
  cursor: pointer;
}

.header .course-status.Draft {
  background-color: #dedede;
}

.header .course-status.Tom, .header .course-status.Tom i  {
  background-color: #D6442B;
  color: #FFF
}

.header .title {
  display:  inline-block;
}

.course-details .btn {
  border: none;
  font-size: 15px;
  line-height: 38px;
}

.course-details .btn:hover {
  background-color: #ededed; 
}

.course-details .course-description {
  font-size: 16px;
  padding-left: 50px;
  color: #A5A5A5;
  height: 360px;
}

.course-details .nav .center-block {
  width: 80%;
}

.course-details .nav .btn.active {
  border-bottom: 1px solid #f47618;
  box-shadow: none;
  background: none;
}

.course-details .nav svg {
  float: left;
  margin-right: 10px;
  fill: #f47618;
  width: 35px;
}

.course-details i {
  color: #f47618;
}

.course-details .course-thumb {
  position: relative;
  width: 200px;
  margin: 20px 0;
  float: right;
}

.course-details .course-thumb label {
  display: inherit;
  margin-bottom: 0;
}

.course-details .upload-hover {
  position: absolute;
  line-height: 1.5em;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  color: #FFF;
  background: none repeat scroll 0% 0% rgba(33, 27, 25, 0.75);
  opacity: 0;
  padding-top: 10px;
  box-shadow: none;
  text-align: center;
  transition: all 0.15s ease 0s;
  z-index: 1;
}

.course-details .upload-hover:hover {
  opacity: 1;
  padding-top: 0px;
  cursor: pointer;
}

.course-settings .section {
  border-color: #dedede;
}

.course-settings .part{
  width: 80%;
  margin: auto;
  font-size: 15px;
}
.part .col-lg-9 {
  padding-left: 0;
}

.part .option {
  display: inline-block;
  padding: 10px 15px;
  border-left: 1px solid #dedede; 
}

.part .option:first-child {
  border-left: none;
}

.course-thumb input[type='file'] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* Course Structure */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: pointer;
}

.module-box  {
  width: 100px;
  height: 60px;
  background: linear-gradient(#444, #111);
  position: relative;
  user-select: none;
  border: 1px solid white;
  margin: 0 0 0.75rem 0;
  box-shadow: 0 0 5px rgba(black, 0.5);
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 0.5rem;
  z-index: 5;
  &:before {
    position: absolute;
    bottom: 0;
    right: 100%;
    counter-increment: module-boxs;
    content: counter(module-boxs);
    padding-right: 0.35rem;
    color: #999;
    line-height: normal;
    font-size: 1rem;
  }
}

.drop-box {
  margin: 20px;
}

.dropzone li {
  list-style: none;
}

.dropzone .placeholder, .dropzone .placeholder2 {
  width: 100px;
  height: 60px;
  background: linear-gradient(#444, #111);
  position: relative;
  user-select: none;
  border: 1px solid white;
  margin: 0 0 0.75rem 0;
  box-shadow: 0 0 5px rgba(black, 0.5);
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 15px;
  z-index: 1;
}


.course-structure .dropzone li.is-moving {
  opacity: 0.3;
  transform: scale(1.8);
  transition: opacity 1s ease-in-out 0s;
}

.course-structure .dropzone li.is-moving::before{
  display: none;
}


.course-structure .dropzone li:first-child::before {
  display: none;
}


