/**
 * TrackpadScrollEmulator
 * Version: 1.0.6
 * Author: Jonathan Nicol @f6design
 * https://github.com/jnicol/trackpad-scroll-emulator
 */
 
 .tse-scrollable {
  position: relative;
  width: 100; /* Default value. Overwite this if you want. */
  height: 100%; /* Default value. Overwite this if you want. */
  overflow: hidden;
}

.tse-scrollable .tse-scroll-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tse-scroll-content { 
  position: absolute;
  width: auto !important;
  height: auto !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; 
  margin-right: -15px;
}

.tse-scroll-content .wrapper {
  padding: 20px 50px;
}

.tse-content {
  overflow: hidden !important;
}

/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.tse-scrollable .tse-scroll-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tse-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
}

.tse-scrollbar .drag-handle {
  position: absolute;
  right: 2px;
  border-radius: 7px;
  min-height: 10px;
  width: 6px;
  opacity: 0;
  transition: opacity 0.2s linear 0s;
  background: none repeat scroll 0% 0% #000;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
}

.tse-scrollbar:hover .drag-handle {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.7;
}

.tse-scrollbar .drag-handle.visible {
  opacity: 0.7;
}
/* Used when testing the scrollbar width */
/* No longer using ::scrollbar too, since it breaks Chrome 25 */
.scrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}


/* Horizontal scroller */
.tse-scrollable.horizontal .tse-scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
}

.tse-scrollable.horizontal .tse-scroll-content::-webkit-scrollbar,
.tse-scrollable.horizontal .tse-scroll-content::scrollbar {
  width: auto;
  height: 0;
}

.tse-scrollable.horizontal .tse-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
}

.tse-scrollable.horizontal .tse-scrollbar .drag-handle {
  right: auto;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}