<div id="large-nav">
  <div class="content">
    <div class="top">
      <%= link_to "", "#", id: "logo" %>
      <form action="/search" id="sidebar_search" method="get">
        <input placeholder="Search" data-bindattr-598="598" autocomplete="off" class="search_input" id="sidebar_query" name="query" tabindex="99">
      </form>
    </div>

    <div class="middle" >

      <div class="tse-scrollable wrapper1">
        <div class="tse-content">

          <div class="nav_section" id="nav_personal">
            <ul>
              <li>
                <div id="you">
                  <span class="username">
                    {{user}}
                  </span>
                  <%= link_to "#", class: "logout", method: "delete" do %>
       
                    <svg class="svg-nav_logout" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                      <path clip-rule="evenodd" d="M16,9l-6,6v-4H6V7h4V3L16,9z M4,13h4v2H2v-2V5V3h6v2H4V13z" fill-rule="evenodd"></path>
                    </svg>
                  <% end -%>

                   <%= link_to "#", class: "settings" do %>
                    <svg class="svg-nav_settings" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                      <path clip-rule="evenodd" d="M15.03,5.091v4.878l-2,2H8.151l-3.061,3.061L2.97,12.908l3.061-3.06V4.97l2-2h4.879L8.97,6.909l2.121,2.121L15.03,5.091z" fill-rule="evenodd"></path>
                    </svg>
                  <% end -%>
                </div>
              </li>

              <li class="selected" data-name="profile" title="Profile">
                <a data-href="/stwitch007/profile" href="/stwitch007/profile" class="group">
                  <span class="filter_icon">
                    <svg class="svg-nav_profile" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                      <path clip-rule="evenodd" d="M2,16v-1l3-3h3L5,9V2h8v7l-3,3h3l3,3v1H2z" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span class="title">Profile</span>
                </a>
              </li>

              <li>
                <a href="/messages/inbox" id="large_messages">
                  <span class="filter_icon">
                    <svg class="svg-nav_messages" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                      <path clip-rule="evenodd" d="M1,15V3h16v12H1z M15.354,5.354l-0.707-0.707L9,10.293L3.354,4.646L2.646,5.354L6.293,9l-3.646,3.646l0.707,0.707L7,9.707l1.646,1.646h0.707L11,9.707l3.646,3.646l0.707-0.707L11.707,9L15.354,5.354z" fill-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span class="title">Messages</span>
                  <span style="display: none;" class="total_count js-unread_message_count"></span>
                </a>
              </li>

              <li>
                <a href="/messages/inbox" id="large_messages">
                  <span class="filter_icon">
                    <svg x="0px" y="0px" viewBox="0 0 420.609 420.609">
                      <path d="M350.035,275.014c-3.38-8.072-11.508-13.254-19.263-16.434l-25.851-11.898c-0.028-18.977-0.207-113.495-0.101-123.436
                        c0.153-15.465-1.69-29.278-5.754-41.227l32.188-11.63l0.074,29.738l-2.188-0.001c-1.521-0.134-2.865,0.96-3.04,2.478
                        l-2.833,24.559c-0.088,0.747,0.135,1.493,0.609,2.081c0.473,0.585,1.166,0.963,1.914,1.026l22.482-0.008
                        c0.756-0.085,1.445-0.446,1.912-1.034c0.48-0.586,0.693-1.344,0.609-2.094c-0.567-4.823-1.132-9.639-1.693-14.462l-1.174-10.095
                        c-0.179-1.505-1.526-2.601-3.044-2.466l-2.188,0.003l0.047-33.883l1.144-0.415l3.806-1.375c3.227-1.164,5.372-4.225,5.372-7.65
                        c0-3.427-2.146-6.488-5.372-7.653L213.071,0.488c-1.789-0.65-3.744-0.65-5.531,0L72.915,49.139
                        c-3.227,1.165-5.374,4.227-5.374,7.653s2.147,6.486,5.374,7.65l48.819,17.644c-4.263,12.257-6.203,26.431-6.044,42.259
                        l0.002,122.333L89.837,258.58c-7.757,3.18-15.383,8.016-19.263,16.434c0,0-56.998,145.596-26.081,145.596h331.62
                        C407.034,420.607,350.035,275.014,350.035,275.014z M262.119,262.51c0,0-43.391,14.377-51.748,64.875
                        c-0.022,0.133-0.106,0.133-0.129,0c-8.359-50.498-51.748-64.875-51.748-64.875l28.439-28.242
                        c-40.093-17.982-50.755-79.127-50.755-79.127c-2.266-8.839-2.539-14.885-2.539-14.885c20.073-1.367,90.128-7.401,94.917-30.111
                        c6.603,12.2,41.561,42.857,55.705,45.185c0,0-13.729,60.463-51.229,78.895L262.119,262.51z"/>
                    </svg>
                  </span>
                  <span class="title">Students</span>
                  <span style="display: none;" class="total_count js-unread_message_count"></span>
                </a>
              </li>

              <li>
                <%= link_to courses_path() do %>
                  <span class="filter_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512">
                      <path d="M288.117,144.635l121.355-40.716l101.792,303.392l-121.355,40.717L288.117,144.635z M0,448h128V96H0V448z M32,160h64v32H32
                      V160z M160,448h128V96H160V448z M192,160h64v32h-64V160z"/>
                    </svg>

                  </span>
                  <span class="title">Courses</span>
                  <span style="display: none;" class="total_count js-unread_message_count"></span>
                <% end %>
              </li>

            </ul>
            <div class="nav-divider"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>