<div id="small-nav">
  <div class="content">
    <ul class="isLoggedIn" data-bindattr-659="659" id="nav_small">
      <li class="" id="small_home">
        <a original-title="" class="home_icon" href="/">
        </a>
      </li>

      <div class="divider"></div>

      <li class="" id="small_search">
        <a original-title="Search" class="filter_icon" href="/directory">
          <svg class="svg-nav_search" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
            <path clip-rule="evenodd" d="M16.707,15.293l-1.414,1.414l-4.825-4.825C9.487,12.58,8.295,13,7,13c-3.313,0-6-2.687-6-6s2.687-6,6-6s6,2.687,6,6c0,1.295-0.42,2.487-1.118,3.468L16.707,15.293z M7,3C4.791,3,3,4.791,3,7s1.791,4,4,4s4-1.791,4-4S9.209,3,7,3z" fill-rule="evenodd"></path>
          </svg>
        </a>
      </li>

      <li class="js-nav-menu">
        <ul class="game_filters" id="menu_defaults">
          <li class="clearfix" data-bindattr-662="662" data-name="following">
            <a original-title="Following" data-bindattr-663="663" data-ember-action="664" class="clearfix" data-href="following" href="/directory/following">
              <span class="filter_icon">
                <svg class="svg-nav_profile" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                  <path clip-rule="evenodd" d="M2,16v-1l3-3h3L5,9V2h8v7l-3,3h3l3,3v1H2z" fill-rule="evenodd"></path>
                </svg>
              </span>
            </a>
          </li>

          <li class="game_filter clearfix" data-bindattr-665="665" data-name="games">
            <a original-title="Browse Games" class="clearfix" data-href="." href="/directory">
              <span class="filter_icon">
                <svg class="svg-nav_messages" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px">
                  <path clip-rule="evenodd" d="M1,15V3h16v12H1z M15.354,5.354l-0.707-0.707L9,10.293L3.354,4.646L2.646,5.354L6.293,9l-3.646,3.646l0.707,0.707L7,9.707l1.646,1.646h0.707L11,9.707l3.646,3.646l0.707-0.707L11.707,9L15.354,5.354z" fill-rule="evenodd"></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</div>